<div class="row">
  <div class="col-md-8">
    <h3>About James</h3>
    <p>I've been in the startup grind as a sales biz / dev guy for 6 years
    and have been making personal projects for about 2 years now.  Whether
    it be improving bottom lines or writing lines of code there's something
    immensely satisfying about creating something into existance.
    </p>
  </div>

  <div class="col-md-4">
    <h3>Contact Info</h3>
    <li><strong>Email:</strong> jamesyoun710 at gmail.com</li>
    <li><strong>Github: </strong><a href="http://github.com/eternal44">(click)</a></li>
    <li><strong>Linkedin: </strong><a href="http://www.linkedin.com/in/jamesyoun">(click)</a></li>

  </div>
</div><!--row-->
